@charset "utf-8";
/* CSS MATRIX-spel */
.cell {
  width: 16.66666666666667%;
  padding-bottom: 16.66666666666667%;
  border-style: solid;
  border-color: black;
  box-sizing: border-box;
  float: left;
  position: relative;
  overflow: hidden;
}
/* voorbeeld */
.herbivoor {
  background-image: url("../images/herbivoor.gif");
}
.carnivoor {
  background-image: url("../images/carnivoor.gif");
}
.plant {
  background-image: url("../images/plant.png");
}
.innercell {
  position: absolute;
  height: 100%;
  width: 100%;
  /* background-image: url("../images/carnivoor.gif"); */
  background-color: #1b224c;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;/*text*/
  color: white;
  font-weight: bold;
  text-align: right;
}
/* container raster */
.matrix {
  background-color: black;
  border-style: solid;
  box-sizing: border-box;
  width: 40%;
}
/* CLEARFIX */
.cf {clear:both}

.clearFix:before, .clearFix:after {
	content:"";
	display:table;
}
.clearFix:after {
	clear:both;
}