@charset "utf-8";
/* verschillende groottes */
.grootte5 .cell {
  width: calc(100%/5);
  padding-bottom: calc(100%/5);
}
.grootte6 .cell {
  width: calc(100%/6);
  padding-bottom: calc(100%/6);
}
.grootte7 .cell {
  width: calc(100%/7);
  padding-bottom: calc(100%/7);
}
.grootte8 .cell {
  width: calc(100%/8);
  padding-bottom: calc(100%/8);
}
.grootte9 .cell {
  width: calc(100%/9);
  padding-bottom: calc(100%/9);
}
.grootte10 .cell {
  width: calc(100%/10);
  padding-bottom: calc(100%/10);
}

/* CSS MATRIX-spel */
.cell {
  border-style: solid;
  border-color: black;
  box-sizing: border-box;
  float: left;
  position: relative;
  overflow: hidden; 
}
/* voorbeeld */
.innercell { 
  position: absolute;
  height: 100%;
  width: 100%;
  /* background-color: #1b224c; */
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  color: white;
  font-weight: bold;
  text-align: right; 
}
.innercell span {
  position: absolute;
  top: 0;
  left: 0;
  text-align: right;
  width: 100%;
  padding-bottom: 0.3em;
  font-size: 1em;
}
/* container raster */
.matrix {
  background-color: black;
  border-style: solid;
  box-sizing: border-box;
  width: 100%;
  background-image: url("../img/dirt.jpg");
}
/* CLEARFIX */
.cf {clear:both}

.clearFix:before, .clearFix:after {
	content:"";
	display:table;
}
.clearFix:after {
	clear:both;
}