/* OUTLINEZ*/

body, header, section, footer, div {
	outline:1px dashed red;
}

/* KLEURENSCHEMA 
#B2A39A
#FFD0B5
#4AB2B2
#C1FFFF
#77FFFE
*/

body {
	background-color:#B2A39A;
}

header {
	background-color:#77FFFE; 
}

.jumbotron {
	background-color:#4AB2B2;
}

nav>.container-fluid {
	background-color:#C1FFFF;
}

section>.container-fluid {
	background-color:#C1FFFF;
}

footer {
	background-color:#77FFFE;
}

/* STRUCTUUR & LAY-OUT */

.marg_l {
	margin-left:1em;
}
